<section class="inner">
  <h2 class="section-ttl">検索結果</h2>
  <% if @result.first %> <!-- @result.exists?と同義 -->
  	<% if @model == 'customer' %>
  		<%= render 'admin/customers/index', customers: @result %>
  	<% else %>
  		<%= render 'admin/items/index', items: @result %>
  	<% end %>
  <% else %>
  	<h3>見つかりませんでした。検索条件を変更して再度お試しください。</h3>
  <% end %>
</section>